        body{
            font-size: 18px;
            color:#fff;
        }
        a,
        #navbar-collapse>ul>li>a{
            text-decoration:none;
            color:#fff;
        }
        a:hover,
        #navbar-collapse>ul>li>a:hover{
            color:#000;
            text-decoration:none;
        }
        .navbar-inverse{
            background-color: #1ABC9C;
            padding-top:70px;
            padding-bottom: 70px;
        }
        .navbar-toggle{
            border: 0;
        }
        #main,#userinfo,#footer{
            padding-top: 70px;
            padding-bottom: 70px;
        }

        #userinfo{
            background-color: #F2F2F2;

        }
        h1{
            color:#000;
            font-weight: bold;
        }
        p{
            color:#555555;
        }
        .pic .row{
            margin-bottom: 40px;
            margin-top: 40px;

        }
        .zoom{
            position: relative;
           display: block;
        }
        .zhezhao{
            display: block;
            width: 100%;
            height:100%;
            position:absolute;
            z-index: 100;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            opacity: 0;
            transition: all 1s;
            background: url("../img/zoom.png")  no-repeat center #1ABC9C;

        }
        .zhezhao:hover{
           opacity: .5;

        }
        #footer{
            background-color: #2F2F2F;
        }
        #footer h4{
            margin-bottom: 50px;
        }
        #footer p,.site-link li a{
            font-size: 16px;
            color:#fff;
            transition: all .5s;
        }
        #footer a:hover{
            color:#9d9d9d;
        }
        .site-link li a,.site-copy a{
            color: #1ABC9C;
        }
        .site-copy{
            margin-top: 50px;
            color: #9d9d9d;
            font-size: 16px;
        }